{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
    <div class="col-md-2 ">
        <input name="mydate" type="text" id="datepicker" disabled class="input">
    </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                {% for tab in tabs %}
                    <li class="nav-item">
                        <a id={{ tab.stored_procedures.name}} name="tabs_for_disp_svodka" class="nav-link">{{ tab.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="test"></div>
    {% block test %} {% endblock %}

{% endblock %}
<p>{{ test }}</p>
{% block script %}
    <script src="{% static "js/disp_svodka/btns_class_toggle.js" %}"></script>
    <script src="{% static "js/disp_svodka/get_date.js" %}"></script>
    <script src="{% static "js/disp_svodka/load_table_by_date_and_table_name.js" %}"></script>
{% endblock %}


