{% load static %}
<table class="table table-bordered table-sm">

    {% for item in table.values %}

        {% for el in item.values %}

            <tr>
                {% for foo in el %}

                    <td valign="middle" class="{{ foo.class_name }}" colspan={{ foo.colspan }}
                            rowspan={{ foo.rowspan }}>{{ foo.field_value }}</td>

                {% endfor %}

            </tr>

        {% endfor %}

    {% endfor %}


</table>

<script src="{% static "js/disp_svodka/get_value_from_td.js" %}"></script>