{% load my_filter %}
{% load static %}
<table class="table table-bordered table-sm">
    <thead>
    {% for ths in table_thead.values %}
        <tr align="center">
            {% for th in ths %}
                <td class="{{ th.class_name }}" scope="{{ th.scope }}"
                    colspan={{ th.colspan }} rowspan={{ th.rowspan }}>{{ th.field_name }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

    </thead>
    <tbody>
        {% for foo in 32|times %}
            <td name="my_td" contenteditable="true">{{ foo }}</td>
        {% endfor %}

    </tbody>
</table>
<script src="{% static "js/disp_svodka/get_value_from_td.js" %}"></script>